<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://unpkg.com/phosphor-icons">
</head>

<body>
    <!-- Breadcrumb -->
    <section class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-links">
                <a href="/home">Home</a>
            </div>
            <h1>Login</h1>
        </div>
    </section>

    <% if (typeof error !=="undefined" ) { %>
        <div class="form-error">
            <%= error %>
        </div>
        <% } %>

            <!-- Login Form -->
            <section class="login-form">

                <div class="container">
                    <div class="form-container">
                        <h2>Log In</h2>
                        <form id="loginForm" method="post" action="/login">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" id="email" name="email" placeholder="Email address" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" placeholder="Password" required>
                            </div>
                            <!-- <div class="form-options">
                                <div class="remember-me">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">Remember me</label>
                                </div>
                                <a href="forgot-password.html" class="forgot-password">Forgot password?</a>
                            </div> -->
                            <button type="submit" class="btn-primary">Login</button>
                            <div class="register-link">
                                <span>Not registered yet?</span>
                                <a href="/register">Sign Up</a>
                            </div>
            </section>

        <script src="/js/login.js"></script>
</body>

</html>